.footer {
  display: flex;
  align-items: flex-start;
  background-color: $background;
  padding: 60px 0 60px 0;
  min-width: 500px;
  @media screen and (min-width:$tab) {
    padding-top:10px;
  }
  @media screen and (min-width:$desk) {
    padding: $mlarge;
  }
}
.footer__wrapper {
  @include flex-center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  @media screen and (min-width:$tab) {
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  }
  @media screen and (min-width:$desk) {
    justify-content: space-between;
    text-align: start;
  }
}
.footer__address {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: center;
  margin: 0;
  @media screen and (min-width:$desk) {
    align-items: flex-start;
  }
}
.footer__logo {
  font-family: $logo-font;
  font-size: $font-l;
  font-weight: $font-bold;
  line-height: $line-height-big;
  text-decoration: $none;
  font-style: normal;
  transition: $transition-delay;
  color: $letter;
}
.footer__logo--left {
  color: $brand;
}
.footer__link {
  color: $info-footer;
  text-decoration: none;
  line-height: 1.71;
  font-style: normal;
  transition: $transition-delay;
}
.footer__elements {
  width: 206px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  transition: $transition-delay;
  padding: 46px 0;
}
.footer__header {
  font-weight: $font-bold;
  color: $letter;
  text-transform: uppercase;
}
.footer__list {
  @include flex-between;
  margin-top: 5px;
}
.footer__item {
  height: 44px;
  width: 44px;
  @include flex-center;
  justify-content: center;
  border-radius: 50%;
  fill: $letter;
  background-color: $icon-footer;
  transition: $transition-delay;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $brand;
    fill: $letter;
  }
  &:active {
    .footer__icon {
      fill: $background;
      transition: $transition-delay;
    }
  }
}
.footer__icon {
  fill: $letter;
}

.form {
  color: $letter;
}
.form__header {
  text-transform: uppercase;
  font-weight: $font-bold;
  margin: 0;
  padding-top: 14px;
  @media screen and (min-width:$tab) {
    padding-top: 60px;
  }
}
.form__label {
  display: inline-flex;
  padding: 20px 0;
  padding-right: 15px;
  @media screen and (min-width:$tab) and (max-width:$near-desk) {
    display: flex;
}}
.form__input {
  background-color: $background;
  @include border-thin($input-footer);
  border-radius: 4px;
  width: 450px;
  height: $mlarge;
  padding: 15px 0 15px 16px;
  color: $letter;
  outline: 1px solid $outline;
  &:focus-within {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-color: $brand;
    outline-color: $brand;
  }
  &:not(:placeholder-shown):valid {
    outline-color: $valid;
    border-color: $valid;
  }
  &:not(:valid):not(:placeholder-shown) {
    outline-color: $invalid;
    border-color: $invalid;
  }
  
  @media screen and (min-width:$desk) {
    width: 358px;
  }
}
.submit {
  @include submit;
}
.submit__text {
  padding: 10px 24px 10px 42px;
}
.submit__icon {
  margin-right: 28px;
  fill: $letter;
}
