.hero {
  @include flex-center;
  background: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
  url(../images/herobackground/effectivesolutions.jpg);
  background-size: cover;
  background-position: 50%;
  height: 400px;
  
  @media screen and (min-width:$desk) {
  height: 600px;}
}
.hero__box {
  text-align: center;
}

.hero__header {
  font-size: $font-l;
  font-weight: $font-bulky;
  letter-spacing: 2.5px;
  line-height: 1.36;
  color: $main-background;
  text-transform: uppercase;
  @media screen and (min-width:$desk) {
  font-size: 44px;
  margin-left: 252px;
  margin-right: 252px;
  }
}
.hero__btn {
  @include button;
  line-height: 1.88;
  font-weight: $font-bold;
  font-size: $font-m;
}
