.main {
  display: flex;
  background-color: $main-background;
  justify-content: center;
  padding: $section-padding;
}
.main__list {
  margin: auto;
  @include tab-only {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @include desk {
    padding-top: 94px;
    display: flex;
    justify-content: space-between;
  }
}
.main__item {
  max-width: 90vw;
  @include tab-up {
    max-width: 354px;
    display: flex;
    flex-wrap: wrap;
  }

  @include desk {
    max-width: 270px;
  }
}
.main__icon {
  padding: 25px 0;
  background-color: $group;
  width: 90vw;
  max-height: 120px;
  @include tab-up {
    min-width: 354px;
  }

  @include desk {
    min-width: 270px;
  }
}
.main__name {
  text-align: start;
  font-weight: $font-bold;
  text-transform: uppercase;

  @include tab-down {
    text-align: center;
  }
}
.main__description {
  margin-top: 0;
  line-height: 1.71;
  color: $info;
  max-width: 95%;
}
