.portfolio {
  padding: $section-padding;

  display: grid;
  @include desk {
    padding: $section-padding;
    margin: 0;
  }
}

.portfolio__nav {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;

  @include tab-up  {
    justify-content: center;
    margin-bottom: 30px;
  }
}
.portfolio__btn {
  font-size: $font-m;
  font-weight: $font-thick;
  line-height: 1.62;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 15px;
  height: 38px;
  width: 130px;
  border: none;
  border-radius: 4px;
  transition: $transition-delay;
  &:hover,
  &:focus {
    color: $letter;
    background-color: $brand;
  }

  @include desk {
    width: auto;
    margin-bottom: 34px;
    padding: 6px 22px;
  }
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

  @include tab-up {
    max-width: 750px;
    justify-content: space-between;
    margin: 0 15px 0 15px;
  }
  @include desk {
    max-width: none;
    margin: 0;
  }
}
.portfolio__item {
  display: grid;
  position: relative;
  overflow: hidden;
  max-width: 95vw;
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    transition: $transition-delay;
    .portfolio__item--overlay {
      transform: translateY(0);
      visibility: visible;
      transition: $transition-delay;
    }
  }
}
.portfolio__img {
  display: block;
  max-width: 95vw;
  @include phone-up {
    width: 450px;
  }
  @include tab-up {
    width: 354px;
    height: 294px;
  }
  @include desk {
    width: 370px;
  }
}
.portfolio__item--overlay {
  position: absolute;
  max-width: 95vw;
  height: 295px;
  background-color: $brand-opaque;
  font-size: 18px;
  color: $main-background;
  line-height: 1.33;
  padding: 9px 15px 9px 14px;
  transition: $transition-delay;
  transform: translateY(100%);
  visibility: hidden;
  @include phone-only {
    padding: 40px 50px 10px 50px;
    font-size: 20px;
  }
  @include tab-up {
    width: 354px;
    padding: 49px 45px 49px 24px;
  }
  @include desk {
    width: 370px;
  }
}
.portfolio__description {
  padding-left: 24px;
  @include border-thin($portfolio-border);
  position: relative;

  background-color: $main-background;
}
.portfolio__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  margin-bottom: 0.4rem;
}
.portfolio__type {
  color: $info;
  font-size: $font-m;
  line-height: 1.88;
  margin-top: 0.4rem;
}
.menu__item--current {
  color: $brand;
}
