.portfolio {
  margin-left: 15px;
  margin-top: 60px;
  @media screen and (min-width:$desk) {
    padding: $section-padding;
    margin:0;
  }
}
.portfolio__nav {
  display: flex;
  min-width: 500px;
  flex-wrap: wrap;
  @media screen and (min-width:$tab) {
    justify-content: center;
    margin: auto;
  }

}
.portfolio__btn {
  font-size: $font-m;
  font-weight: $font-thick;
  line-height: 1.62;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 15px;
  height: 38px;
 width: 130px;
  border: none;
  border-radius: 4px;
  transition: $transition-delay; 
  &:hover,
  &:focus {
    color: $letter;
    background-color: $brand;
  }
  @media screen and (min-width:$tab) {
  
  }
  @media screen and (min-width:$desk) {
    width: auto;
    margin-bottom: 34px;
    padding: 6px 22px;
  }
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap:30px;
  padding: 0;
  
}
.portfolio__item {
  display: grid;
  position: relative;
  overflow: hidden;
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    transition: $transition-delay;
    .portfolio__item--overlay {
      transform: translateY(0);
      transition: $transition-delay;
    }
  }
}
.portfolio__img {
 
  width: 450px;
  height: 270px;
   @media screen and (min-width:$tab){
    width: 354px;
  }
  @media screen and (min-width:$desk){
    width: 370px;
  }
}
.portfolio__item--overlay {
  position: absolute;
  width: 450px;
  height: 294px;
  background-color: $brand-opaque;
  font-size: 18px;
  color: $main-background;
  line-height: 1.33;
  padding: 49px 45px 49px 24px;
  transition: $transition-delay;
  transform: translateY(100%);
  @media screen and (min-width:$tab) {
    width: 354px;
  }
  @media screen and (min-width:$desk) {
    width: 370px;
  }
}
.portfolio__description {
  padding-left: 24px;
  @include border-thin($portfolio-border);
  position: relative;
  z-index: 1;
  background-color: $main-background;
}
.portfolio__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  margin-bottom: 0.4rem;
}
.portfolio__type {
  color: $info;
  font-size: $font-m;
  line-height: 1.88;
  margin-top: 0.4rem;
}
