.team {
  background-color: $group;
  width: 100vw;
  text-align: center;
  padding: $section-padding;
}
.team__header {
  font-size: $font-xl;
  font-weight: $font-bold;
  line-height: 1.13;
}
.team__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  @include tab-up {
    gap: $mgap;
    flex-direction: row;
    justify-content: center;
  }
  @include desk {
    gap: 0;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 50px;
    max-width: 95vw;
  }
}
.team__item {
  max-width: 95vw;
  background-color: $main-background;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  &:last-child {
    margin: 0;
  }
  @include tab-up {
    width: 354px;
    margin: 0;
  }
  @include desk {
    height: 428px;
    width: auto;
  }
}
.team__img {
  max-width: 95vw;
  @include phone-up {
    width: 450px;
  }

  @include tab-up {
    width: 354px;
    height: 374px;
  }
  @include desk {
    width: 270px;
    height: 260px;
  }
}
.team__name {
  font-weight: $font-thick;
  font-size: $font-m;
  line-height: 1.2;
  padding-top: 7px;
}
.team__job {
  font-size: $font-thick;
  color: $info;
  font-size: $font-m;
}
.icons {
  display: inline-flex;
  justify-content: space-around;
  @include desk {
    margin-left: $medium;
    margin-right: $medium;
  }
}
.icons__item {
  margin-bottom: 24px;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  margin-right: 10px;
  @include flex-center;
  justify-content: center;
  transition: $transition-delay;
  &:last-child {
    margin: 0;
  }
  &:hover,
  &:focus {
    background-color: $brand;
    cursor: pointer;
    &:active {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      background-color: $main-background;
      .icons__vector {
        fill: $icon;
      }
    }
    .icons__vector {
      fill: $letter;
    }
  }
  @include desk {
    margin-right: 0;
    margin-bottom: $medium;
  }
}
.icons__vector {
  fill: $icon;
}
