.work {display: none;
  @media screen and (min-width:$desk) {
    display: block;
    padding: $section-padding;
   
  }
}
.work__header {
  font-size: $font-xl;
  font-weight: $font-bold;
  line-height: 1.13;
  text-align: center;
}
.work__list {
  max-width: 95vw;
  @media screen and (min-width:$desk) {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  
  padding: 0;
  }
 
}
.work__item {
  max-width: 370px;
  max-height: 294px;
  position: relative;
}
.work__img {
  max-width: 370px;
  max-height:294px;
}
.work__description {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0%;
  height: 70px;
  width: 370px;
  background-color: $work-block;
  font-weight: $font-bold;
  color: $letter;
  text-transform: uppercase;
}
