.work {
  padding: $section-padding;
}
.work__header {
  font-size: $font-xl;
  font-weight: $font-bold;
  line-height: 1.13;
  text-align: center;
}
.work__list {
  
  @media screen and (min-width:$desk) {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: $mgap;
  padding: 0;
  }
 
}
.work__item {
  width: 370px;
  height: 294px;
  position: relative;
}
.work__description {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0%;
  height: 70px;
  width: 370px;
  background-color: $work-block;
  font-weight: $font-bold;
  color: $letter;
  text-transform: uppercase;
}
